* {
  box-sizing: border-box;
  }

/* ---------------------------
General
 ---------------------------*/
body {
  /*background: #F6F6f6 url(/assets/images/paper-tile.jpg);*/
  background: #fafafa;
  color: #222;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
  margin: auto;
  max-width: 1280px;
  width: 90%;
}

main:first-child {
  padding-top: 1em;
}
#intro {
  padding-bottom: 2em;
}
img {
/*border-radius: 8px;*/
  width: 100%;
}

/*.workthumb img {
  border-radius: 12px;
}*/

.full-width-img {
  margin-top: 2em;
}
@media (min-width: 800px) {
  .full-width-img {
    margin-top: 4em;
  }
  main:first-child {
    padding-top: 0;
  }
  /*#intro {
    padding-bottom: 0;
  }*/
}


.caption {
  color: #777;
  font-size: .85em;
  font-weight: 300;
  margin-top: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity:0.75;
  text-decoration: underline;
  transition: text-decoration 0.1s, color 0.1s;
}

a:focus {
  border: none;
  border-bottom: inherit;
}

.projectdetails a {
  color: #af0059;
}

h3{
  font-weight: 600;
}

/* ---------------------------
Header
--------------------------- */
nav {
  font-size: .85em;
  margin: 2em 0;
}

nav a {
  color: #af0059;
}

nav ul li {
  display: inline;
}

/* ---------------------------
Work Pages
--------------------------- */
#intro h1{
  font-weight: 300;
}

.projectdetails li {
  list-style-position: outside;
  list-style-type: '\2013\2002';
}
  div.workthumbs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.2em 3.2em;
}

div.projectdetails {
  display: grid;
  grid-template-columns: 1fr;
}

.workthumbs, .projectdetails{
  margin-top: 2em;
}

.title-wrap {
  margin-top: .5em;
}

.title-wrap span {
  font-weight: 300;
}

hr {
  border: solid 1px #222;
  max-width: 25%;
  /*max-width: 40%;*/
  margin: 0 0 2em 0;
}

#storybook {
  margin-top: 2.4em;
}

@media (min-width: 800px) {
  .workthumbs, .projectdetails{
    margin-top: 4em;
  }
  div.workthumbs , div.projectdetails {
    grid-template-columns: 1fr 1fr;
    /*grid-gap: 3.2em 2.4em;*/
  }
  /*hr {
    max-width: 25%;
  }*/
  #storybook {
    margin-top: 0;
  }
}

@media (min-width: 1336px) {
  /*div.workthumbs { grid-template-columns: 1fr 1fr 1fr; }*/
  #intro h1{
    font-size: 1.2em;
    grid-column: 1 / span 2;
    line-height: 1.5em;
  }
}




/* ---------------------------
Footer
--------------------------- */

footer {
  color: #777;
  font-weight:300;
  font-size: .85em;
  margin: 4em 0 2em 0;
}
